
@{
            ViewData["Title"] = "About";

}
@section Css
{

      <link rel="stylesheet" href="~/css/about.css" />
}


  <section class="banner">
    <img src="~/Images/hero-banner-img.png" class="img-fluid" alt="">

  </section>


  <section class="about container-fluid col-md-8 mx-auto text-center ">
<div class="div1">
  
    <h2 class="about-title">A Few words about us</h2>
      <img src="~/Images/faq-star.png" class="img-fluid col-md-3 col-sm-2 mb-4 " style="max-width: 60%;" alt="">
    



 
<p  class="about-text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean molestie convallis tempor. Duis vestibulum vel risus
    condimentum dictum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus
    quis enim orci. Fusce risus lacus, sollicitudin eu magna sed, pharetra sodales libero. Proin tincidunt vel erat id
    porttitor. Donec tristique est arcu, sed dignissim velit vulputate ultricies.
  </p>
    <p class="about-text">
      Interdum et malesuada fames ac ante
    ipsum primis in faucibus. In hac habitasse platea dictumst. Vivamus eget mauris eget nisl euismod volutpat sed sed
    libero. Quisque sit amet lectus ex. Ut semper ligula et mauris tincidunt hendrerit. Aenean ut rhoncus orci, vel
    elementum turpis. Donec tempor aliquet magna eu fringilla. Nam lobortis libero ut odio finibus lobortis. In hac
    habitasse platea dictumst. Mauris a hendrerit felis. Praesent ac vehicula ipsum, at porta tellus. Sed dolor augue,
    posuere sed neque eget, aliquam ultricies velit. Sed lacus elit, tincidunt et massa ac, vehicula placerat lorem.
  </p> 
</div>




<div class="div2">
  
  <h2 class="about-title">Our Story</h2>
    <img src="~/Images/faq-star.png" class="img-fluid col-md-3 col-sm-2 mb-4 " style="max-width: 60%;" alt="">
  




<p  class="about-text">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean molestie convallis tempor. Duis vestibulum vel risus
  condimentum dictum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus
  quis enim orci. Fusce risus lacus, sollicitudin eu magna sed, pharetra sodales libero. Proin tincidunt vel erat id
  porttitor. Donec tristique est arcu, sed dignissim velit vulputate ultricies.
</p>
  <p class="about-text">
    Interdum et malesuada fames ac ante
  ipsum primis in faucibus. In hac habitasse platea dictumst. Vivamus eget mauris eget nisl euismod volutpat sed sed
  libero. Quisque sit amet lectus ex. Ut semper ligula et mauris tincidunt hendrerit. 
  </p>
  <p class="about-text">
  Aenean ut rhoncus orci, vel
  elementum turpis. Donec tempor aliquet magna eu fringilla. Nam lobortis libero ut odio finibus lobortis. In hac
  habitasse platea dictumst. Mauris a hendrerit felis. Praesent ac vehicula ipsum, at porta tellus. Sed dolor augue,
  posuere sed neque eget, aliquam ultricies velit. Sed lacus elit, tincidunt et massa ac, vehicula placerat lorem.
</p> 
</div>
  </section>




















