@{
    ViewData["Title"] = "Price";
}

@section Css
{
        <link rel="stylesheet" href="~/css/faq.css" />
          <link rel="stylesheet" href="~/css/price.css" />
          
}

    





<section class="img-section" id="top">
      <img src="~/Images/group-18.png" class="img-fluid">
    </section>










  <main>


    <!-- prices card -->


    <section class="prices text-center container-fluid col-md-4 mx-auto mb-4">

      <h2 class="prices-title">Prices</h2>

      <img src="~/Images/faq-star.png" class="img-fluid col-md-8" style="max-width: 60%;" alt="">

      <div class="price-container mt-4 mb-4 text-center">

        <h3 class="price-container-title py-2 ">One Time</h3>

        <p class="price-price"> <strong>€ 20</strong><span style="font-size: 25px;">/hr </span></p>

        <div class="price-container-text">

          <p><img class="img-fluid" src="~/Images/forma-1_5.png">
            &nbsp;Lower prices</p>
          <p><img class="img-fluid" src="~/Images/forma-1_5.png">
            &nbsp;Easy online & secure payment</p>
          <p><img class="img-fluid" src="~/Images/forma-1_5.png">
            &nbsp;Easy amendment</p>

        </div>

      </div>


    </section>


    <!-- extra-services section -->


    <section class="extra-services container-fluid  col-md-10 mx-auto text-center mt-4 pt-4 mb-4">
      
      <hr>
      
      <h2 class="prices-title">Extra-services</h2>
      <img src="~/Images/faq-star.png" class="img-fluid col-md-3 " style="max-width: 60%;" alt="">

      <div class="container mt-4">
      
        <div class="row text-center">
      
          <div class="col-sm">
            
            <a href="#" class="service-btn"><img src="~/Images/3.png" alt="..."></a>
            <p class="service">Inside cabinets</p>
            <p class="service-time">30 minutes</p>

          </div>
         
          <div class=" col col-sm">
            
            <a href="#" class="service-btn"><img src="~/Images/5.png" alt="..."></a>
            <p class="service">Inside fridge</p>
            <p class="service-time">30 minutes</p>

          </div>

          <div class="col-sm">

            <a href="#" class="service-btn"><img src="~/Images/4.png" alt="..."></a>
            <p class="service">Inside oven</p>
            <p class="service-time">30 minutes</p>

          </div>

          <div class="col-sm">

            <a href="#" class="service-btn"><img src="~/Images/2.png" alt="..."></a>
            <p class="service">Laundry wash & dry</p>
            <p class="service-time">30 minutes</p>

          </div>

          <div class="col-sm">
  
            <a href="#" class="service-btn"><img src="~/Images/1.png" alt="..."></a>
            <p class="service">Interior windows</p>
            <p class="service-time">30 minutes</p>

          </div>

        </div>

      </div>


    </section>


    <!-- include section -->


    <section class="include container-fluid  pt-4 mb-4 ">


      <div class="col-md-10 mx-auto text-center include-row">

        <h2 class="prices-title">What we include in cleaning</h2>

        <img src="~/Images/faq-star.png" class="img-fluid col-md-3 " style="max-width: 60%;" alt="">

        <div class="row mt-4">

          <div class="col-lg-4">

            <img src="~/Images/group-18_3.png" alt="...">

            <h3 class="include-lable">Bedroom and Living Room</h3>

                <p class="include-text" >
                  <img src="~/Images/right-arrow-grey.png" class="img-fluid">&nbsp;&nbsp;Dust all accessible surfaces
                </p>
               

                <p class="include-text" >
                  <img src="~/Images/right-arrow-grey.png" class="img-fluid">&nbsp;&nbsp;Wipe down all mirrors and glass
                  fixtures
                </p>
                
                <p class="include-text" >
                  <img src="~/Images/right-arrow-grey.png" class="img-fluid">&nbsp;&nbsp;Clean all floor surfaces
                </p>
               

                <p class="include-text" >
                  <img src="~/Images/right-arrow-grey.png" class="img-fluid">&nbsp;&nbsp;Take out garbage and recycling
                </p>
               

          </div>

          <div class="col-lg-4">

            <img src="~/Images/group-18_4.png" alt="...">

            <h3 class="include-lable">Bathrooms</h3>

                <p class="include-text">
                  <img src="~/Images/right-arrow-grey.png" class="img-fluid">&nbsp;&nbsp;Wash and sanitize the toilet, shower,
                  tub, sink.
                </p>
              

                <p class="include-text">
                  <img src="~/Images/right-arrow-grey.png" class="img-fluid">&nbsp;&nbsp;Dust all accessible surfaces
                </p>
          

                <p class="include-text">
                  <img src="~/Images/right-arrow-grey.png" class="img-fluid">&nbsp;&nbsp;Wipe down all mirrors and glass
                  fixtures
                </p>
               

                <p class="include-text">
                  <img src="~/Images/right-arrow-grey.png" class="img-fluid">&nbsp;&nbsp;Clean all floor surfaces
                </p>
            

                <p class="include-text">
                  <img src="~/Images/right-arrow-grey.png" class="img-fluid">&nbsp;&nbsp;Take out garbage and recycling
                </p>
             

          </div>


          <div class="col-lg-4">

            <img src="~/Images/group-18_2.png" alt="...">

            <h3 class="include-lable">Kitchen</h3>

                <p class="include-text" >
                  <img src="~/Images/right-arrow-grey.png" class="img-fluid">&nbsp;&nbsp;Dust all accessible surfaces
                </p>
             

                <p class="include-text" >
                  <img src="~/Images/right-arrow-grey.png" class="img-fluid">&nbsp;&nbsp; Empty sink and load up dishwasher
                </p>
            

                <p class="include-text" >
                  <img src="~/Images/right-arrow-grey.png" class="img-fluid">&nbsp;&nbsp;Wipe down all mirrors and glass
                  fixtures
                </p>
             

                <p class="include-text">
                  <img src="~/Images/right-arrow-grey.png" class="img-fluid">&nbsp;&nbsp;Clean all floor surfaces
                </p>
           

                <p class="include-text">
                  <img src="~/Images/right-arrow-grey.png" class="img-fluid">&nbsp;&nbsp;Take out garbage and recycling
                </p>
               

          </div>

        </div>


      </div>


    </section>


    <!-- price-why -->
    


    <section class="price-why container-fluid mt-4 pt-4 mb-4 col-md-10 mx-auto text-center mt-4 pt-4 mb-4">


      <div class="container">

        <div class="row g-3 card-service">

          <div class="col-12 col-md-6 col-lg-4 col-left">

            <p class="why-lable">Experienced and vetted professionals</p>
            <p class="why-text">dominate the industry in scale and scope with <br> an adaptable, extensive network that
              <br> consistently delivers exceptional results.
            </p>

            <p class="why-lable">Dedicated customer service</p>
            <p class="why-text">to our customers and are guided in all we do <br> by their needs. The team is always
              happy to <br> support you and offer all the information. <br> you need.</p>

          </div>

          <div class="col-12 col-md-6 col-lg-4 text-center">
            <img src="~/Images/the-best-img-1.png" alt="...">
          </div>

          <div class="col-12 col-md-6 col-lg-4 col-right">

            <p class="why-lable">Every cleaning is insured</p>
            <p class="why-text">and seek to provide exceptional service and <br> engage in proactive behavior. We‘d be
              happy <br> to clean your homes.</p>

            <p class="why-lable">Secure online payment</p>
            <p class="why-text">Payment is processed securely online. <br> Customers pay safely online and manage <br>
              the booking.</p>

          </div>

        </div>

      </div>


    </section>



  </main>








  <!--footer-->
  <footer>

    <div class="container">

      <div class="row contact-row">

        <div class="col-sm-2 contact-col-top">
          <img src="~/Images/top-arrow1.png" class="img-fluid contact-col-top-image">
        </div>

        <div class="col-sm-8 contact-col-email">

          <p class="contact-text"> GET OUR NEWSLETTER </p>

          <div class="row ">

            <div class="col-sm-7 contact-email-col">
              <input class="contact-email-textbox" placeholder="  YOUR EMAIL">
            </div>
            <div class="col-sm-5 contact-submit-col">
              <button class="contact-submit-button">submit</button>
            </div>

          </div>

        </div>

        <div class="col-sm-2 contact-col-faq contact-col-faq-image">
          <img src="~/Images/layer-598.png" class="img-fluid">
        </div>

      </div>

    </div>

    


