@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}


@media (min-width: 900px) {
    .header-become-a-pro .register-form {
        width: 30%;
    }
}

@media (max-width:900px)and (min-width:500px) {
    .header-become-a-pro .register-form {
        width: 60%;
    }


    .how-it-works .col-lg-7 {
        order: 1;
    }

    .how-it-works .col-lg-7 {
        order: 2;
    }
}


@media (min-width:500px) {
    .how-it-works .row {
        margin-left: 25%;
        margin-right: 25%;
    }
}

@media (max-width:500px) {
    .how-it-works .row {
        margin-left: 5%;
        margin-right: 5%;
    }
}


.header-become-a-pro {
    background: url(../Images/become-a-pro-banner.png);
    height: auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


img.navbar-brand.nav-logo {
    width: 156px;
    height: 120px;
}

.nav-logo {
    margin-left: 17px;
}

.nav-book-btn {
    margin-right: 5px;
    font-size: 17px;
    width: 161px;
    height: 40px;
}

.nav-log-btn {
    margin-right: 10px;
    margin-left: 5px;
    width: 97px;
    height: 40px;
    font-size: 17px;
}

.nav-link {
    color: white;
}

.nav-become-btn {
    margin-right: 10px;
    margin-left: 5px;
    width: 161px;
    height: 40px;
    font-size: 17px;
}

.btn {
    padding: 0px, 5px;
    background: #00607200 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF80;
    border-radius: 20px;
    opacity: 1;
}


.register-form {
    margin-top: 38px;
    margin-left: auto;
    margin-right: auto;
    width: 430px;
    height: auto;
    padding: 23px 35px 19px 36px;
    border-radius: 4px;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.15);
    background-color: white;
}


h1 {
    font-size: 24px;
    color: #4F4F4F;
    font-weight: 700;
    text-align: center;
    padding-top: 19px;
    padding-bottom: 24px
}

::placeholder {
    font-size: 16px;
    color: #A0A0A0;
    line-height: 1.5;
    font-weight: 400;
}

.border-btn {
    background-color: #1D7A8C;
    border-radius: 23px;
    height: 46px;
    font-size: 16px;
    font-weight: 700;
    color: #F1F1F1;
    align-self: center;
}

span.Validation-Error {
    color: red;
    font-size: 12px;
}

.form-control {
    margin-bottom: 15px;
}

.form-check .form-check-label {
    font-size: 16px;
}

.not-a-robot {
    width: 302px;
    height: 76px;
    margin-bottom: 20px;
}

.down-arrow {
    margin-top: 44px;
    margin-bottom: 30px;
}





.how-it-works {
    background-image: url(../assets/blog-left-bg.png), url(../assets/blog-right-bg.png);
    background-position: left, right;
    background-repeat: no-repeat, no-repeat;
    height: auto;
}

    .how-it-works h2 {
        font-size: 40px;
        font-weight: 700;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
        color: #4F4F4F;
    }

    .how-it-works h3 {
        font-size: 30px;
        color: #4F4F4F;
        font-weight: 700;
        padding-left: 20px;
        padding-top: 80px;
    }

    .how-it-works p {
        font-size: 18px;
        color: #4F4F4F;
        font-weight: 400;
        padding-left: 20px;
    }

    .how-it-works a {
        font-size: 18px;
        color: #4F4F4F;
        font-weight: 400;
        padding-left: 20px;
    }

    .how-it-works .our-news-letter {
        padding-top: 48px;
        padding-bottom: 55px;
    }

        .how-it-works .our-news-letter h2 {
            font-size: 18px;
            margin-bottom: 16px;
            font-weight: 500;
        }

        .how-it-works .our-news-letter .form-control {
            border-radius: 20px;
            border: solid 1px #565656;
            background-color: #f4f5f8;
            color: #565656;
            font-size: 14px;
            font-weight: 400;
            height: 40px;
            line-height: 40px;
            padding: 0 22px;
        }

        .how-it-works .our-news-letter .btn-submit {
            margin-left: 11px;
            background-color: #FF7B6D;
            font-size: 14px;
            font-weight: 400;
            line-height: 37px;
            height: 40px;
            border-radius: 20px;
            border: none;
            outline: none;
            color: #fff;
            width: 88px;
        }



/*footer*/


.footer-container {
    background-color: #111111;
}

.footer-logo-col {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

.footer-nav-col {
    text-align: center;
    margin-top: 3%;
}

.footer-link {
    color: #F1F1F1;
    font-size: 13.99;
    text-decoration: none;
    margin-right: 2%;
}

.footer-social-col {
    text-align: center;
    margin-top: 3%;
}

.footer-social {
    margin-right: 2%;
}

.footer-logo {
    max-height: 92px;
}

.footer-social-image {
    margin: 2%;
}

.footer-term-row {
    margin-left: 8%;
    margin-right: 10%;
    text-align: center;
}

.footer-hr {
    color: #b9b6b6;
}

.footer-text {
    color: #9BA0A3;
    font-size: 14px;
}
