.cap-icon {
    width: 44px;
    height: 44px;
    margin-right: 5px;
    padding: 7px 7px;
    border: solid 1px #aaa;
    background-color: var(--white);
    border-radius: 50%;
    float: left;
}

.completed {
    border: 1px solid #67b644;
    background-color: #67b644;
    color: #ffffff;
    font-size: 13px;
    margin: 10px 0;
}

.rate {
    border: 1px solid #6DA9B5;
    border-radius: 17px;
    background-color: #6DA9B5;
    color: #FFFFFF;
    font-size: 14px;
    padding: 5px 12px;
    margin: 8px 0;
}

.checked {
    color: #ECB91C;
}

.cancelled {
    border: 1px solid #ff6b6b;
    background-color: #ff6b6b;
    color: #ffffff;
    font-size: 13px;
    margin: 10px 0;
}

.price {
    font-size: 20px;
    color: #1d7a8c;
    font-weight: 700;
    margin: 10px 0;
}

.service-time {
    margin-bottom: 0;
}

.alignleft {
    float: left;
    padding-left: 10px;
    font-size: 22px;
    color: #646464;
    font-weight: 700;
}

.alignright {
    float: right;
    background-color: #146371;
    color: #ffffff;
    font-size: 14px;
    border-radius: 17px;
    border: 1px solid #146371;
    margin-right: 10px;
    padding: 5px 12px;
}

.card-body {
    margin: 20px 20px 20px 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px 0
}

span img {
    margin-right: 10px;
}

    span img span {
        margin-right: 10px;
    }

.card-body .date {
    font-weight: 700;
}

.dropdown {
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
}

.pagenum {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    color: #777777;
    flex-wrap: wrap;
}

.pagenum-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .pagenum-left p {
        margin-bottom: 10px;
        margin-top: 8px;
    }

.pagenum-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.pagenum-btn {
    padding: 10.67px 15.33px 10.33px 14.67px;
    border-radius: 50px;
    border: 1px solid #E1E1E1;
    margin-left: 3px;
    font-size: 14px;
}

.pagenum-right .active {
    background-color: #1D7A8C;
    color: white
}

.transform_btn {
    transform: rotate(180deg);
}


@media(max-width:720px) {
    .table {
        display: none;
    }
}

@media(min-width:720px) {
    .mobileview {
        display: none;
    }
}
