@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@400;500;700&display=swap');

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}



nav.navbar {
    background-color: #525252;
}

.navbar .container {
    margin-left: 15px;
}

.navbar .navbar-brand {
    height: 54px;
    width: 73px;
    padding: 0;
}

.navbar .nav-link {
    padding-right: 20px;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.4;
}


div.notification {
    border-right: 1px solid #e1e1e1;
    border-left: 1px solid #e1e1e1;
    padding: 5px 25px 0 16px;
    max-width: 70px;
}

.notification span {
    background-color: #ff1616;
    top: -7px;
    right: 11px;
}

div.user-icon {
    padding-right: 20px;
    padding-left: 20px;
    line-height: 1.4;
}

.collapse .nav-item a:hover {
    background-color: #29626D;
    border-radius: 20px;
    border: 1px solid #FFFFFF;
}

.collapse .nav-item a:active {
    background-color: #29626D;
    border-radius: 20px;
    border: 1px solid #FFFFFF;
}

.collapse a:hover {
    background-color: #29626D;
    border-radius: 20px;
    border: 1px solid #FFFFFF;
}

.collapse a:active {
    background-color: #29626D;
    border-radius: 20px;
    border: 1px solid #FFFFFF;
}


h1 {
    text-align: center;
    font-size: 30px;
    color: #4F4F4F;
    background-color: #F9F9F9;
    padding-top: 40px;
    padding-bottom: 40px;
}

    h1 span {
        font-weight: 700;
    }



.clearfix::after {
    content: '';
    clear: both;
    display: block;
}



.tab {
    float: left;
    border: 1px solid #ffffff;
    background-color: #1d7a8c;
    width: 23%;
    font-weight: 400;
    height: 800px;
}

.hamburger {
    display: none;
    cursor: pointer;
    background-color: #1d7a8c;
    width: 35px;
    float: left;
}

    .hamburger .v-menu {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        background-color: white;
        transition: all 0.3s ease-in-out;
    }

.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 18px 16px;
    width: 100%;
    border: 0.5px solid #2b8799;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

.tab .tablinks {
    font-size: 18px;
    color: white;
    font-weight: 400;
}

.tab button:hover {
    background-color: #146371;
}


.tab button.active {
    background-color: #146371;
}

.table {
    float: left;
    padding: 0px 0px;
    border: 1px solid #ccc;
    width: 75%;
    margin-left: 10px;
}

th {
    padding-right: 30px;
    font-size: 16px;
    color: #646464;
    font-weight: 700;
    padding-left: 5px;
}

td {
    font-size: 16px;
    color: #646464;
    font-weight: 400;
}

    td div {
        font-weight: 700;
    }

p.margin {
    margin: 10px 0px;
}



.cancel {
    border: 1px solid #FF6B6B;
    border-radius: 17px;
    background-color: #FF6B6B;
    color: #FFFFFF;
    font-size: 16px;
}



.footer-container {
    background-color: #111111;
}

.footer-logo-col {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

.footer-nav-col {
    text-align: center;
    margin-top: 3%;
}

.footer-link {
    color: #F1F1F1;
    font-size: 13.99;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    margin-right: 2%;
}

.footer-social-col {
    text-align: center;
    margin-top: 3%;
}

.footer-social {
    margin-right: 2%;
}

.footer-logo {
    max-height: 92px;
}

.footer-social-image {
    margin: 2%;
}

.footer-term-row {
    margin-left: 8%;
    margin-right: 10%;
    text-align: center;
}

.footer-hr {
    color: #b9b6b6;
}

.footer-text {
    color: #9BA0A3;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}



@media screen and (max-width: 720px) {
    .main_service {
        padding-top: 31px;
    }

    table {
        border: 1px;
        width: 100%;
    }

        table thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        table tr {
            border-bottom: 3px solid #ddd;
            display: block;
        }

        table td {
            border-bottom: 1px solid #ddd;
            display: block;
            text-align: left;
        }

            table td:last-child {
                border-bottom: 0;
                margin-bottom: 10px;
            }

    .hamburger {
        display: block;
    }

        .hamburger.active .v-menu:nth-child(2) {
            opacity: 0;
        }

        .hamburger.active .v-menu:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }

        .hamburger.active .v-menu:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }

    .tab {
        height: 100%;
        display: none;
        gap: 0;
        background-color: #146371;
        width: 100%;
        text-align: center;
        transition: 0.2s;
    }

        .tab.active {
            display: block;
        }
}

@media screen and (min-width: 720px) {
    .main_service {
        padding-top: 31px;
        margin-left: 15%;
        margin-right: 15%;
        padding-bottom: 30px;
    }
}
