@model Helperland.ViewModel.Address;
<form id="form3">
	<div id="at3" class="tabcontent">

		<div id="address">

			@*loading address from database *@
		</div>

		<button type="button" class="btn add_address" id="addAddressBtn" onclick="addAddressdiv()">
			+ Add New
			Address
		</button>


		<div id="addNewaddressDiv" class="container-fluid">

			<form action="" class="address_form">
				<div class="row mb-3 mt-3">
					<div class="col-md-6 col-sm-12">
						<label for="streetname" class="form-label">Street name</label>
						<input asp-for="AddressLine2"  type="text" class="form-control street" name="streetname" placeholder="Street name" required  />
						<div class="street-msg"></div>
					</div>
					<div class="col-md-6 col-sm-12">
						<label for="housenumber" class="form-label">House number</label>
						<input asp-for="AddressLine1" type="text" class="form-control houseno" name="housenumber" placeholder="House number" required  />
						<div class="house-msg"></div>
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-md-6 col-sm-12">
						<label for="postalcode" class="form-label">Postal Code</label>
						<input asp-for="PostalCode" id="addAddressPostalCode" type="text" class="form-control" name="postalcode" placeholder="Postal Code" required  />
					</div>
					<div class="col-md-6 col-sm-12">
						<label for="city" class="form-label">City</label>
						<input asp-for="City" type="text"  class="form-control addressCity" name="city" placeholder="City" required  />
						<div class="city-msg"></div>
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-md-6 col-sm-12">
						<label for="phonenumber" class="form-label ">Phone number</label>
						<div class="input-group">
							<div class="input-group-text">+49</div>
							<input asp-for="Mobile" maxlength="10"  type="text" class="form-control mobilenum" name="phonenumber" placeholder="Mobile Number" required  />
						</div>
						<div class="mobile-msg"></div>
					</div>
				</div>

				<div>
					<button type="button" class="btn save" id="addAddressSubmit" onclick='saveAddress()'>Save</button>
					<button id="addressCancelBtn" type="reset" class="btn cancel" onclick='cancelAddress()'>Cancel</button>
				</div>
			</form>
		</div>
		
			<br /><br />
			<hr />
	<button class="continue form3-continue" type="button" onclick="Clickable('form4Btn');ClickFunction('form4Btn')">
						Continue
					</button>
					</div>
</form>
				