<div id="NewServiceRequest" class="tab-contant">

    <div class="clearfix">
        <div class="d-flex justify-content-between">
            <p class="alignleft "> Customer Service Request </p>

            <a asp-controller="Customer" asp-action="BookService"> <button class="alignright ">Add new request</button></a>

        </div>



        <table id="SPServiceRequestTable" class="table">


            <thead class="table-light">
                <tr class="text-center">
                    <th scope="col"> Service ID</th>
                    <th scope="col"> Service Date</th>
                    <th scope="col"> Customer Details</th>
                    <th scope="col"> Payment</th>
                    <th scope="col"> Time Conflict</th>
                    <th scope="col"> Actions</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td data-label="Service ID"> 323436</td>
                    <td>
                     
                        <div>
                            <span><img src="/images/calendar2.png" alt=""></span>
                            <span class="upcoming-date"><b>09/04/2018</b></span>
                        </div>
                        <div>
                            <span><img src="/images/timer.png" alt=""></span> 
                            <span>12:00-18:00</span>
                        </div>
                    </td>
                    <td>
                        <div>David Bough</div>
                        <div><span><img src="images/home.png" alt=""></span> <span class="upcoming-address">Mustrestrabe 5, 12345 Bonn</span> </div>
                    </td>
                    <td>
                        <span>15</span> &euro;
                    </td>
                    <td>
                    </td>
                    <td >
                        <a >Accept</a>
                    </td>

                </tr>


            </tbody>







        </table>














    </div>

















</div>