.cap-icon {
    width: 44px;
    height: 44px;
    margin-right: 5px;
    padding: 7px 7px;
    border: solid 1px #aaa;
    background-color: var(--white);
    border-radius: 50%;
    float: left;
}

.checked {
    color: #ECB91C;
}

.new {
    border: 1px solid #F2BB37;
    background-color: #F2BB37;
    color: #ffffff;
    font-size: 13px;
    padding: 4px 11px 5px 11px;
}

.pending {
    border: 1px solid #1FB6FF;
    background-color: #1FB6FF;
    color: #ffffff;
    font-size: 13px;
    padding: 4px 11px 5px 11px;
}

.completed {
    border: 1px solid #67B644;
    background-color: #67B644;
    color: #ffffff;
    font-size: 13px;
    padding: 4px 11px 5px 11px;
}

.cancelled {
    border: 1px solid #FF6B6B;
    background-color: #FF6B6B;
    color: #ffffff;
    font-size: 13px;
    padding: 4px 11px 5px 11px;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}